assets/pug/index.pug
extends layout.pug

block content

  .guide-content
    .inner
      h3.guide-content__caption Путеводитель
      .guide-city-selector Выберите&nbsp;
        a(href='#!').guide-city-selector__dropdown-link город
        .guide-city-selector__dropdown-block
          nav.guide-city-selector-menu
            include modules/guide-city-selector-menu-lists

      .guide-places
        .guide-places__list

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='1')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='1')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='2')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='2')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='3')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='3')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='4')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='4')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='5')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='5')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

          .guide-places__item(style='background-image: url(../img/city.jpg)' data-guide-places-item='6')
            .guide-places__overlay
            .guide-places__bottom
              .guide-places__title Клуб Полезного Действия
              .guide-places__city Санкт-Петербург
          .guide-places-card(data-guide-places-card='6')
            .guide-places-card__close
            .guide-places-card__img
              img(src='../img/city-card.jpg' alt='city')
            .guide-places-card__info
              .guide-places-card__title Антикафе Freedom for people
              .guide-places-card__desc Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива
              a(href='#!').guide-places-card__link https://www.facebook.com/fdfp.spb
              .guide-places-card__address Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17
              .guide-places-card__name Никита Джигурда

        .guide-places-add-new-place
          .guide-places-add-new-place__img
            img(src='../img/guide-places-add-new-place-img.png' alt='Добавьте своё место!')
          .guide-places-add-new-place__title Добавьте своё место!
          a(href='#!').guide-places-add-new-place__btn.button Добавить место

assets/html/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>dabb-exam</title>
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="layout">
      <div class="inner">
        <header class="header">
          <div class="header-desc">
            <h1 class="header-desc__caption">Microsoft Developer Tour</h1>
            <div class="header-desc__legend">Технологическая экспедиция</div>
          </div>
          <div class="header-navigation">
            <div class="header-menu">
              <nav class="nav-menu">
                <ul class="nav-menu__list">
                  <li class="nav-menu__item"><a class="nav-menu__link" href="#!">Об экспедиции</a></li>
                  <li class="nav-menu__item"><a class="nav-menu__link" href="#!">Новости</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-social"><a class="header-social__link" href="#!" target="_blank" rel="noopener"><img class="header-social__img" src="../img/header-social-fb.png" alt="Facebook"></a><a class="header-social__link" href="#!" target="_blank" rel="noopener"><img class="header-social__img" src="../img/header-social-tw.png" alt="Twitter"></a><a class="header-social__link" href="#!" target="_blank" rel="noopener"><img class="header-social__img" src="../img/header-social-vk.png" alt="VK"></a></div>
          </div>
        </header>
      </div>
      <div class="guide-content">
        <div class="inner">
          <h3 class="guide-content__caption">Путеводитель</h3>
          <div class="guide-city-selector">Выберите&nbsp;<a class="guide-city-selector__dropdown-link" href="#!">город</a>
            <div class="guide-city-selector__dropdown-block">
              <nav class="guide-city-selector-menu">
                <ul class="guide-city-selector-menu__list">
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Минск</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Нижний Новгород</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Новосибирск</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Пермь</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Ростов-на-Дону</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Санкт-Петербург</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Самара</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Казань</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Таганрог</a></li>
                </ul>
                <ul class="guide-city-selector-menu__list">
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Минск</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Нижний Новгород</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Новосибирск</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Пермь</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Ростов-на-Дону</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Санкт-Петербург</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Самара</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Казань</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Таганрог</a></li>
                </ul>
                <ul class="guide-city-selector-menu__list">
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Минск</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Нижний Новгород</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Новосибирск</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Пермь</a></li>
                  <li class="guide-city-selector-menu__item"><a class="guide-city-selector-menu__link" href="#!">Ростов-на-Дону</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="guide-places">
            <div class="guide-places__list">
              <div class="guide-places__item" style="background-image: url(../img/city.jpg);" data-guide-places-item="1">
                <div class="guide-places__overlay"></div>
                <div class="guide-places__bottom">
                  <div class="guide-places__title">Клуб Полезного Действия</div>
                  <div class="guide-places__city">Санкт-Петербург</div>
                </div>
              </div>
              <div class="guide-places-card" data-guide-places-card="1">
                <div class="guide-places-card__close"></div>
                <div class="guide-places-card__img"><img src="../img/city-card.jpg" alt="city"></div>
                <div class="guide-places-card__info">
                  <div class="guide-places-card__title">Антикафе Freedom for people</div>
                  <div class="guide-places-card__desc">Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива</div><a class="guide-places-card__link" href="#!">https://www.facebook.com/fdfp.spb</a>
                  <div class="guide-places-card__address">Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17</div>
                  <div class="guide-places-card__name">Никита Джигурда</div>
                </div>
              </div>
              <div class="guide-places__item" style="background-image: url(../img/city.jpg);" data-guide-places-item="2">
                <div class="guide-places__overlay"></div>
                <div class="guide-places__bottom">
                  <div class="guide-places__title">Клуб Полезного Действия</div>
                  <div class="guide-places__city">Санкт-Петербург</div>
                </div>
              </div>
              <div class="guide-places-card" data-guide-places-card="2">
                <div class="guide-places-card__close"></div>
                <div class="guide-places-card__img"><img src="../img/city-card.jpg" alt="city"></div>
                <div class="guide-places-card__info">
                  <div class="guide-places-card__title">Антикафе Freedom for people</div>
                  <div class="guide-places-card__desc">Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива</div><a class="guide-places-card__link" href="#!">https://www.facebook.com/fdfp.spb</a>
                  <div class="guide-places-card__address">Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17</div>
                  <div class="guide-places-card__name">Никита Джигурда</div>
                </div>
              </div>
              <div class="guide-places__item" style="background-image: url(../img/city.jpg);" data-guide-places-item="3">
                <div class="guide-places__overlay"></div>
                <div class="guide-places__bottom">
                  <div class="guide-places__title">Клуб Полезного Действия</div>
                  <div class="guide-places__city">Санкт-Петербург</div>
                </div>
              </div>
              <div class="guide-places-card" data-guide-places-card="3">
                <div class="guide-places-card__close"></div>
                <div class="guide-places-card__img"><img src="../img/city-card.jpg" alt="city"></div>
                <div class="guide-places-card__info">
                  <div class="guide-places-card__title">Антикафе Freedom for people</div>
                  <div class="guide-places-card__desc">Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива</div><a class="guide-places-card__link" href="#!">https://www.facebook.com/fdfp.spb</a>
                  <div class="guide-places-card__address">Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17</div>
                  <div class="guide-places-card__name">Никита Джигурда</div>
                </div>
              </div>
              <div class="guide-places__item" style="background-image: url(../img/city.jpg);" data-guide-places-item="4">
                <div class="guide-places__overlay"></div>
                <div class="guide-places__bottom">
                  <div class="guide-places__title">Клуб Полезного Действия</div>
                  <div class="guide-places__city">Санкт-Петербург</div>
                </div>
              </div>
              <div class="guide-places-card" data-guide-places-card="4">
                <div class="guide-places-card__close"></div>
                <div class="guide-places-card__img"><img src="../img/city-card.jpg" alt="city"></div>
                <div class="guide-places-card__info">
                  <div class="guide-places-card__title">Антикафе Freedom for people</div>
                  <div class="guide-places-card__desc">Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива</div><a class="guide-places-card__link" href="#!">https://www.facebook.com/fdfp.spb</a>
                  <div class="guide-places-card__address">Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17</div>
                  <div class="guide-places-card__name">Никита Джигурда</div>
                </div>
              </div>
              <div class="guide-places__item" style="background-image: url(../img/city.jpg);" data-guide-places-item="5">
                <div class="guide-places__overlay"></div>
                <div class="guide-places__bottom">
                  <div class="guide-places__title">Клуб Полезного Действия</div>
                  <div class="guide-places__city">Санкт-Петербург</div>
                </div>
              </div>
              <div class="guide-places-card" data-guide-places-card="5">
                <div class="guide-places-card__close"></div>
                <div class="guide-places-card__img"><img src="../img/city-card.jpg" alt="city"></div>
                <div class="guide-places-card__info">
                  <div class="guide-places-card__title">Антикафе Freedom for people</div>
                  <div class="guide-places-card__desc">Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива</div><a class="guide-places-card__link" href="#!">https://www.facebook.com/fdfp.spb</a>
                  <div class="guide-places-card__address">Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17</div>
                  <div class="guide-places-card__name">Никита Джигурда</div>
                </div>
              </div>
              <div class="guide-places__item" style="background-image: url(../img/city.jpg);" data-guide-places-item="6">
                <div class="guide-places__overlay"></div>
                <div class="guide-places__bottom">
                  <div class="guide-places__title">Клуб Полезного Действия</div>
                  <div class="guide-places__city">Санкт-Петербург</div>
                </div>
              </div>
              <div class="guide-places-card" data-guide-places-card="6">
                <div class="guide-places-card__close"></div>
                <div class="guide-places-card__img"><img src="../img/city-card.jpg" alt="city"></div>
                <div class="guide-places-card__info">
                  <div class="guide-places-card__title">Антикафе Freedom for people</div>
                  <div class="guide-places-card__desc">Антикафе Freedom for people - это свобода для умов, свобода для творчества и креатива</div><a class="guide-places-card__link" href="#!">https://www.facebook.com/fdfp.spb</a>
                  <div class="guide-places-card__address">Санкт-Петербург, Васильевский остров, Невский проспект, дом.88, корпус 20, офис 17</div>
                  <div class="guide-places-card__name">Никита Джигурда</div>
                </div>
              </div>
            </div>
            <div class="guide-places-add-new-place">
              <div class="guide-places-add-new-place__img"><img src="../img/guide-places-add-new-place-img.png" alt="Добавьте своё место!"></div>
              <div class="guide-places-add-new-place__title">Добавьте своё место!</div><a class="guide-places-add-new-place__btn button" href="#!">Добавить место</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="inner inner_align-items-center">
        <div class="footer-registration">
          <div class="footer-registration__title">Спешите зарегистрироваться<br> на мероприятие в своем городе!</div><a class="footer-registration__btn button" href="#!">Зарегистрируйся</a>
        </div>
        <div class="footer-menu">
          <nav class="nav-menu">
            <ul class="nav-menu__list">
              <li class="nav-menu__item"><a class="nav-menu__link" href="#!">Контактная информация</a></li>
              <li class="nav-menu__item"><a class="nav-menu__link" href="#!">Конфиденциальность</a></li>
              <li class="nav-menu__item"><a class="nav-menu__link" href="#!">Условия использования</a></li>
              <li class="nav-menu__item"><a class="nav-menu__link" href="#!">Товарные знаки</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer-brands"><img class="footer-brands__img" src="../img/footer-brands-win8.png" alt="Windows 8"><img class="footer-brands__img" src="../img/footer-brands-ms-vs.png" alt="Microsoft Visual Studio 2013"><img class="footer-brands__img" src="../img/footer-brands-ms-azure.png" alt="Microsoft Azure"><img class="footer-brands__img" src="../img/footer-brands-win-phone.png" alt="Windows Phone"><img class="footer-brands__img" src="../img/footer-brands-ms.png" alt="Microsoft"></div>
      </div>
    </footer>
    <script src="../js/vendor/jquery.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
